[Unit]
Description=Instructor Grading System Database SErver

[Service]
ExecStart=/usr/bin/node /var/www/instructor_server/bin/www
# Required on some systems
WorkingDirectory=/var/www/instructor_server
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=instructorserver
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target